<div class="max-w-screen-xl px-5 m-auto py-20 grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-6">
    <div class="card bg-black" *ngFor="let book of books">
        <img [src]="book.attributes.book.image_url" class="max-w-full" alt="">
        <div class="p-3 bg-gray-600">
            <h2>{{book.attributes.book.title}}</h2>
            <p>{{book.attributes.currency}} {{book.attributes.compare_at_price}}</p>
            <a class="py-3 px-5 text-black bg-ebook-green mt-4 text-center font-bold block"
                [routerLink]="'ebook-details/'+ book.id">View
                Details</a>
        </div>
    </div>
</div>