<footer class="bg-gray-900">
    <div class=" max-w-screen-xl px-5 m-auto py-5">
        <!-- subscribe section  -->
        <div class="flex items-center justify-between py-5 border-b border-gray-400">
            <a routerLink="/">
                <img src="http://bigramyweb.inovaeg.com/static/media/main-logo.d37fd44b1dd3dfb263bfdd977c7cef90.svg"
                    alt="logo">
            </a>
            <h3>Join Our <br> NewsLetter</h3>
            <form>
                <input class="border border-gray-400 py-3 px-5 bg-transparent" type="text"
                    placeholder="Enter Your Email">
                <button class="py-3 px-5 text-black bg-ebook-green">Subscribe</button>
            </form>
        </div>
        <div class="py-5 grid grid-cols-1 md:grid-cols-3 gap-6">
            <div>
                <p>Lorem Ipsum is simply dummy text of the printing and typesett ing industry. Lorem Ipsum has been the
                    industry's
                    standard
                    dummy text ever since the 1500s</p>
                <ul class="flex items-center space-x-2 mt-5">
                    <li>
                        <a href="#">
                            <img src="assets/images/facebook.png" alt="">
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <img src="assets/images/twitter.png" alt="">
                        </a>
                    </li>
                </ul>
            </div>
            <ul class="flex flex-col space-y-3">
                <li><a routerLink="/">News</a></li>
                <li><a routerLink="/">Tournaments</a></li>
                <li><a routerLink="/">Courses</a></li>
                <li><a routerLink="/">E-Books</a></li>
            </ul>
            <ul class="flex flex-col space-y-3">
                <li><a routerLink="/">Privacy policies</a></li>
                <li><a routerLink="/">Terms & Conditions</a></li>
                <li><a routerLink="/">Contact Us</a></li>
            </ul>
        </div>
    </div>
</footer>