<header>
    <div class="border-b border-gray-400 py-3 text-right">
        <div class="max-w-screen-xl px-5 m-auto ">
            <span class="font-bold">العربيه</span>
        </div>
    </div>
    <div class="flex items-center justify-between py-5 max-w-screen-xl px-5 m-auto">
        <a routerLink="/">
            <img src="http://bigramyweb.inovaeg.com/static/media/main-logo.d37fd44b1dd3dfb263bfdd977c7cef90.svg"
                alt="logo">
        </a>
        <ul class="inline-flex space-x-2">
            <li>
                <a routerLink="/">Login</a>
            </li>
            <li>
                <a routerLink="/">Signin</a>
            </li>
        </ul>
    </div>
    <nav class="bg-gray-900">
        <div class="flex items-center justify-between py-4 max-w-screen-xl px-5 m-auto">
            <ul class="inline-flex space-x-4 text-lg">
                <li><a routerLink="/">Home</a></li>
                <li><a routerLink="/">News</a></li>
                <li><a routerLink="/">Courses</a></li>
                <li><a routerLink="/e-books">E-Books</a></li>
                <li><a routerLink="/">Contact Us</a></li>
            </ul>
            <a class="inline-flex space-x-2 items-center text-lg" routerLink="/">
                <img src="assets/images/cart.png" alt="icon">
                <span>Cart</span>
            </a>
        </div>

    </nav>
</header>